<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

@if (TempData["SuccessData"] != null)
{
    <h3 style="color:blueviolet">
        @TempData["SuccessData"]
    </h3>

    <script type="text/javascript">
        toastr.success('@TempData["SuccessData"]', 'Success')
    </script>

}

@if (TempData["ErrorData"] != null)
{
    <h3 style="color:blueviolet">
        @TempData["ErrorData"]
    </h3>

    <script type="text/javascript">
        toastr.success('@TempData["ErrorData"]', 'Error')
    </script>

}